<%-include ("navbar.ejs") %>
<div class="big-div">
    

    <div class="myfullblogs"> 
        <h1><%=myRealBlog.title%></h1>
        <p><%=myRealBlog.name%></p>
        <p><%=myRealBlog.created_at%></p>
        <p><%=myRealBlog.content%></p>
    </div>

</div>


